/*-------------------*/
/* Custom properties */
/*-------------------*/

:root {
    /* colors */
    --clr-dark-grayish-blue: 217 19% 35%;
    --clr-desaturated-dark-blue: 214 17% 51%;
    --clr-grayish-blue: 212 23% 69%;
    --clr-light-grayish-blue: 210 46% 95%;
}

/*-------------------*/
/* Reset             */
/*------------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
p {
    margin: 0;
}

h1,
p {
    font-weight: 300;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh; /* it prevents short pages */
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: #ECF2F8;
    position: relative;
    overflow: hidden;
}

/* make images easier to work with*/
img {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off*/

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/*------------------*/
/* Utility classes  */
/*------------------*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/* colors */
.text-dark { color: hsl( var(--clr-dark-grayish-blue) ); }
.text-desaturated { color: hsl( var(--clr-desaturated-dark-blue) ); }
.text-grayish-blue { color: hsl( var(--clr-grayish-blue) ); }
.text-light-blue { color: hsl( var(--clr-light-grayish-blue) ); }

/* Component styles */
.component-wrapper {
    width: 327px;
    margin: 5rem auto;
}

.component {
    width: 327px;
    height: 512px;
    background-color: #fff;
    border-radius: 5%;
}

.component-image {
    position: relative;
    width: 327px;
}
  
.component-main-image {
    display: block;
    max-width: 100%;
    width: 327px;
    height: 200px;
    border-radius: 5% 5% 0 0;
}

.component-content {
    padding: 10px 32px;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.component-info {
    margin-bottom: 7rem;
}

.component-title {
    font-weight: 700;
    font-style: normal;
    font-size: 1.23rem;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 12px 0;
}

.component-excerpt {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.component-profile {
    padding-top: 0.5rem;
}

.profile-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-image-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-details {
    padding: 5px 25px 0 1px;
}

.name,
.date {
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.12px;
}

.name {
    font-weight: 700;
}

.date {
    font-weight: 500;
}

.component-social-platforms {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    left: -33px;
    bottom: 47px;
    border-radius: 0 0 10px 10px;
    background-color: hsl( var(--clr-dark-grayish-blue));
    height: 64px;
    width: 328px;
}

.share-text {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding: 0 10px 0 32px
}

.social-platform {
    display: flex;
    flex-direction: row;
    height: 20px;
    padding: 1px 10px;
}

.component-share-icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 60%;
    background-color: hsl( var(--clr-light-grayish-blue) );
    cursor: pointer;
}

.component-share-icon-active {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    border: none;
    border-radius: 60%;
    background-color: hsl( var(--clr-grayish-blue));
    position: relative;
    right: -32px;
}

.share-icon-2 {
    position: relative;
    left: -7px;
    height: 13px;
    color:hsl( var(--clr-light-grayish-blue) );
}

#active {
    display: none;
}



